@import '../../index.css';

/* *************** */
/* REUSABLE CLASSES */
/* *************** */

.grid {
    display: grid;
}

.grid-1-col {
    grid-template-columns: 1fr;
    justify-items: center;
    column-gap: 1.6rem;
}

.grid-2-col {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 1.4rem;
    column-gap: 1.6rem;
}

.grid-3-col {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.4rem;
    column-gap: 1.6rem;
}


.signup-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form-container {
    max-width: fit-content;
    margin: 9.6rem auto;
    /* background-color: var(--accent--primary-tint); */
    box-shadow: 0.2rem 0.2rem 5rem rgba(0, 0, 0, 0.08), -0.2rem -0.2rem 5rem rgba(0, 0, 0, 0.08);
    border-radius: 2rem;
    color: var(--neutral--500);
}

.form-innerbox {
    min-width: 75rem;
    min-height: 38rem;
    overflow: hidden;
    padding: 1.2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.form-signup {
    min-width: 100%;
    font-family: inherit;
    transition: all 0.3s;
    margin-bottom: 1.6rem;
}

/* .form .form-section:not(:first-child) {
    transform:;
} */



.form-section {
    min-width: 100%;
    padding: 1.8rem 2.4rem;
    border-radius: 2rem;
    margin-bottom: 4rem;
}

.form-section--heading {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--neutral--500);

    grid-column: 1 / -1;
    text-align: start;
}

.input-field {
    min-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0.8rem 1.6rem;
}

.align-center {
    gap: 0.2rem;
    align-items: center;
}

.input-field label {
    margin-bottom: 0.2rem;
}

input[type='radio'] {
    accent-color: var(--accent--secondary-1);
    cursor: pointer;
}

.input-field input:not([type='radio']),
.input-field select,
.input-field option {
    min-width: 100%;
    max-width: 100%;
    font-family: inherit;
    font-size: 1.6rem;
    color: var(--neutral--600);
    border: none;
    border-radius: 100px;
    padding: 1.2rem 1.8rem;
    transition: all 0.3s;
    outline: none;
    background-color: var(--accent--primary-tint);
}

.input-field input:focus,
.input-field select:focus,
.input-field option:focus {
    box-shadow: 0 0 0 0.2rem var(--accent--secondary-1)
}



.btn-form {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    background-color: var(--accent--primary-1);
    border: none;
    border-radius: 0.8rem;
    padding: 0.8rem 1rem;
    position: absolute;
    bottom: 2rem;
    cursor: pointer;
    transition: all 0.3s;
}


.btn-form.disabled {
    background-color: var(--accent--primary-tint);
    color: var(--accent--primary-1);
}

.btn-form:hover {
    background-color: var(--accent--primary-tint);
    color: var(--accent--primary-1);
    border: 0.2rem dotted var(--accent--secondary-1);

}


.btn-nxt,
.btn-submit {
    right: 2rem;
}

.btn-back {
    left: 2rem;
}

.error {
    color: var(--error-color);
    margin-top: 0.1rem;
    padding: 0 2rem;
    font-size: 1.4rem;
    margin-bottom: 0;
}

input[type=date]:hover {
    cursor: pointer;
}


@media screen and (max-width: 750px) {
    .form-innerbox {
        max-width: 38em;
        min-width: 38em;
    }

    .form-section {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 450px) {
    .form-innerbox {
        max-width: 24em;
        min-width: 24em;
    }

    .input-field input:not([type='radio']),
    .input-field select,
    .input-field option {
        padding: 1rem 1.6rem;
        font-size: 1.6rem;
    }
}